
@import url(http://fonts.googleapis.com/css?family=Asap);
@import url(http://fonts.googleapis.com/css?family=Krona+One);

body {
  background:black;
  color:white;
}

#deck h1 { font-family: 'Krona One', sans-serif; font-weight:normal; -webkit-text-stroke: 1px;﻿}

#deck h2 { font-family: 'Krona One', sans-serif; font-weight:normal; -webkit-text-stroke: 1px;﻿}


.syntax {
	background: #eee;
	color: black;
	border:3px solid #888;
	line-height: 1.2 !important;
}

ol.syntax  li{
	list-style-type: none;
}

.indent {
	text-indent: 1em;
}

/* Better fade in & out */
@-webkit-keyframes fadeOut { 0% { opacity:1; } 90% { opacity:1; } 100% { opacity:0; } }
@-moz-keyframes fadeOut { 0% { opacity:1; } 90% { opacity:1; } 100% { opacity:0; } }
@keyframes fadeOut { 0% { opacity:1; } 90% { opacity:1; } 100% { opacity:0; } }

.showOnMouse {
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	
	-webkit-animation:fadeOut ease-out 1;
	-moz-animation:fadeOut ease-out 1;
	animation:fadeOut ease-out 1;
	
	-webkit-animation-fill-mode:none;
	-moz-animation-fill-mode:none;
	animation-fill-mode:none;
	
	-webkit-animation-duration:5s;
	-moz-animation-duration:5s;
	animation-duration:5s;
}
 
.showOnMouse:hover {
	opacity: 1;
}

.codeFigure, .syntax-theme-base .syntax {
    font-family: monospace !important;
}

.codeFigure {
width:36em;
margin-top: 1em;
overflow: auto;
}